body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hide-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 160px;
    /* Adjust height as necessary */
    z-index: 100;
    border-radius: 80px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    /* text shoull fill the entire div */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    /* Adjust opacity as necessary */
    transition: all 0.5s;
}

.hide-logo-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 100px;
    /* Adjust height as necessary */
    z-index: 100;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    /* text shoull fill the entire div */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
}

.hide-logo:hover span {
    transform: rotate(-90deg);
}


/* text inside will rotate 90 degrees on hover and rotate back on mouseout but as text rotates the div vwill stay at same position but its height will increase */
.hide-logo:hover {
    height: 160px;
    /* Adjust height as necessary */
    transition: all 0.5s;
    transform: rotate(90deg);
}

.hide-logo span {
    transition: all 0.5s;
    display: inline-block;
    transition: all 0.5s;
}

.hide-logo:hover span {
    transform: rotate(90deg);
    transition: all 0.5s;
}


.leftcornertext{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    height: 160px;
    /* Adjust height as necessary */
    z-index: 100;
    border-radius: 90px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    /* text shoull fill the entire div */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    /* Adjust opacity as necessary */
    transition: all 0.5s;
}
.leftcornertext-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    height: 100px;
    /* Adjust height as necessary */
    z-index: 100;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    /* text shoull fill the entire div */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}